<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ODE Calculator</title>
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/main.css" type="text/css">
        <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="container fill">
            <h1>Differential Equation Calculator</h1>
            <hr>
            <p>Graph any Ordinary Differential Equation</p>
            <a href="isaackrementsov-edu.github.io/ode-calculator">About</a>
        </div>
        <div class="container">
            <div class="row">
                <form action="/" onsubmit="return prepareEquation()">
                    <input type="hidden" name="equation" id="equation">
                    <div class="row">
                        {% if error %}
                            <div class="form-group">
                                <label style="color: #FF4081">{{error}}</label>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row center">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="form-group">
                                    <label>Differential equation in terms of <i>y</i> and <i>t</i>, with only the highest derivative of y on the left side</label>
                                    <input type="text" class="form-control" name="equation_original" id="equation_original" placeholder="ex. y''' = y'' - e^(y+1) + log(t)">
                                </div>
                                <div class="form-group">
                                    <label>Enter initial values in the order of decreasing derivative order (...<i>y''(0)</i>, <i>y'(0)</i>, <i>y(0)</i>)</label>
                                    <input type="text" class="form-control" name="initial_conditions" placeholder="ex. 1.2,3.4">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="form-group">
                                    <label>Integration Precision</label>
                                    <input type="number" class="form-control" step="0.001" name="t_step" placeholder="Delta t">
                                </div>
                                <div class="form-group">
                                    <label>Graph precision and t-range</label>
                                    <input type="number" class="form-control" step="0.001" name="dataset_step" placeholder="Graph resolution">
                                    <input type="number" class="form-control" step="0.001" name="dataset_tmin" placeholder="Minimum t value">
                                    <input type="number" class="form-control" step="0.001" name="dataset_tmax" placeholder="Maximum t value">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-cta">Graph</button>
                    </div>
                </form>
            </div>
            {% if dataset %}
                <div class="row">
                    <div class="col-sm-7">
                        <div class="card">
                            <canvas id="graph"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        {% if original %}
                            <div class="row">
                                <div class="card eq color1">
                                    <i>{{original}}</i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card eq color2">
                                    <i>{{t_min}} < t < {{t_max}}</i>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="row" style="height: 20px">
            </div>
        </div>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/chart.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script>
            const ctx = document.getElementById('graph').getContext('2d');

            //new Chart(ctx, chartConfig);
            var scatterChart = new Chart(ctx, {
                type: 'scatter',
                data: {
                    datasets: [{
                        label: 'y(t)',
                        data: {% if dataset %}{{dataset | safe}}{% else %}[]{% endif %},
                        showLine: true,
                        lineTension: 0.3,
                        pointRadius: 0.1,
                        borderColor: 'rgba(255, 64, 129, 0.5)',
                        backgroundColor: 'rgba(255, 128, 171, 0.1)'
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'linear',
                            position: 'bottom',
                            gridLines: {
                                color: "rgb(80,80,80)"
                            },
                            ticks: {
                                fontColor: "rgb(120,120,120)"
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 't',
                                fontColor: "rgb(120,120,120)"
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                color: "rgb(80,80,80)"
                            },
                            ticks: {
                                fontColor: "rgb(120,120,120)"
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'y',
                                fontColor: "rgb(120,120,120)"
                            }
                        }]
                    }
                }
            });

            function prepareEquation(){
                let input = $('#equation_original');
                let value = input.val();

                value = value.replace(/(y(?:')+)|y/g, s => `instance_values[${s.match(/\'/g) ? s.match(/\'/g).length : 0}]`);
                $('#equation').attr('value', value)
            }
        </script>
    </body>
</html>
